<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="wkldApp">
    <head>
        <title>Open Team Manager</title>
        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-sg.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/ui-bootstrap-tpls-0.11.2.js' %}"></script>
        <script src="{% static 'js/Date.js' %}"></script>
        <script src="{% static 'js/applications.js' %}"></script>
        <script src="{% static 'js/factories.js' %}"></script>
        <script src="{% static 'js/controllers.js' %}"></script>
    </head>
    {% verbatim %}
    <body class="container">
        <div class="row">
            <h1 class="page-header">Open Team Manager</h1>
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#">Planning</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">White-board</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div ng-controller="wkldTable">
                <!-- BEGIN : Resource selection form -->
                <form class="form-inline">
                    <label>Resource:</label>
                    <select class="form-control" ng-change="refresh()" ng-model="currentUserId">
                        <option ng-repeat="user in users" value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                </form>
                <!-- END : Resource selection form -->

                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

                <ul class="pager" ng-if="currentUserId">
                    <li class="previous"><a ng-click="prevSlot();refresh()" href="#">&larr; Older</a></li>
                    <li class="next"><a ng-click="nextSlot();refresh()" href="#">Newer &rarr;</a></li>
                </ul>

                <!-- BEGIN : WORKLOAD TABLE -->
                <table class="table table-bordered form-inline" ng-if="currentUserId">
                    <thead>
                        <tr>
                            <td colspan="{{ nb_slots + 1 }}" class="text-right">
                                <label>Nb weeks:</label>
                                <input type="number" class="form-control" style="width:4em;" ng-change="refresh()" ng-model="nb_slots">
                            </td>
                        </tr>
                        <tr>
                            <th>Tasks</th>
                            <th ng-repeat="slot in hSlots">{{ slot[0] }}-{{ slot[1] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(taskName,slots) in task_rows">
                            <th>{{ taskName }}</th>
                            <td ng-repeat="slot in slots" class="text-right">
                                <form ng-submit="saveAssignation(slot)">
                                    <label>Plan.</label>
                                    <input style="width:4em" class="form-control input-sm" ng-model="slot.wkld_planned" type="number" min="0" max="{{getInputMax()}}"><br>
                                    <label>Cur.</label>
                                    <input style="width:4em" class="form-control input-sm" ng-model="slot.wkld_current" type="number" min="0" max="{{getInputMax()}}">
                                    <button type="submit" class="hidden"></button>
                                </form><br>
                                <div class="progress">
                                    <div class="progress-bar" ng-class="getAchClass(slot.wkld_current, slot.wkld_planned)" role="progressbar" aria-valuenow="{{ getPercentage(slot.wkld_current, slot.wkld_planned) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ getPercentage(slot.wkld_current, slot.wkld_planned) }}%;">
                                        {{ getPercentage(slot.wkld_current, slot.wkld_planned) }}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <form ng-submit="addNewTask()">
                                    <input type="text" placeholder="Add new..." class="form-control" ng-model="newTaskName" typeahead="task.name for task in tasks | filter:$viewValue | limitTo:8">
                                </form>
                                </td>
                            <td colspan="{{ nb_slots }}"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- END : WORKLOAD TABLE -->
            </div>
        </div>
    </body>
    {% endverbatim %}
</html>