<!DOCTYPE html>
{% load static %}
<html lang="en" data-ng-app="wkldApp">
    <head>
        <title>Open Team Manager</title>
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}">
    </head>

    <body class="container">
        {% verbatim %}
        <div class="row">
            <h1 class="page-header">Open Team Manager</h1>
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#">Planning</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="#">White-board</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div data-ng-controller="wkldTable">
                <!-- BEGIN : Resource selection form -->
                <form class="form-inline">
                    <label>Resource:</label>
                    <select class="form-control" data-ng-model="currentUserId">
                        <option data-ng-repeat="user in users" value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    </select>
                </form>
                <!-- END : Resource selection form -->

                <alert data-ng-repeat="alert in alert.list" type="{{alert.type}}" close="alert.close($index)">{{alert.msg}}</alert>

                <ul class="pager" data-ng-if="currentUserId">
                    <li class="previous"><a data-ng-click="prevSlot()" href="#">&larr; Older</a></li>
                    <li class="next"><a data-ng-click="nextSlot()" href="#">Newer &rarr;</a></li>
                </ul>

                <!-- BEGIN : WORKLOAD TABLE -->
                <table class="table table-bordered form-inline" data-ng-if="currentUserId" data-ng-controller="wkldTableController">
                    <thead>
                        <tr>
                            <td colspan="{{ nbSlots + 1 }}" class="text-right">
                                <label>Nb weeks:</label>
                                <input type="number" class="form-control" style="width:4em;" data-ng-model="nbSlots">
                            </td>
                        </tr>
                        <tr>
                            <th>Tasks</th>
                            <th data-ng-repeat="slot in slots.slots">{{ slot[0] }}-{{ slot[1] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="(taskName,slots) in task_rows">
                            <th>{{ taskName }}</th>
                            <td data-ng-repeat="assignation in slots" data-ng-controller="assignationCellController" class="text-right">
                                <form data-ng-submit="save()">
                                    <label>Plan.</label>
                                    <input style="width:4em" class="form-control input-sm" data-ng-model="assignation.wkld_planned" type="number" min="0" max="{{getInputMax()}}"><br>
                                    <label>Cur.</label>
                                    <input style="width:4em" class="form-control input-sm" data-ng-model="assignation.wkld_current" type="number" min="0" max="{{getInputMax()}}">
                                    <button type="submit" class="hidden"></button>
                                </form><br>
                                <div class="progress">
                                    <div class="progress-bar" data-ng-class="getAchClass()" role="progressbar" aria-valuenow="{{ consumption }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (consumption < 100) ? consumption : 100 }}%;">
                                        {{ consumption }}%
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <form data-ng-submit="addNewTask()">
                                    <input type="text" placeholder="Add new..." class="form-control" data-ng-model="newTaskName" typeahead="task.name for task in tasks | filter:$viewValue | limitTo:8">
                                </form>
                                </td>
                            <td colspan="{{ nbSlots }}"></td>
                        </tr>
                    </tfoot>
                </table>
                <!-- END : WORKLOAD TABLE -->
            </div>
        </div>
        {% endverbatim %}
        <script type="text/javascript" src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/angular/angular.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/angular-resource/angular-resource.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/angular-animate/angular-animate.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/Date.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/applications.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
    </body>
</html>