<!DOCTYPE html>
<html lang="en" ng-app="wkldApp">
	<head>
		<title>My workload</title>
		<script src="js/jquery-1.11.0.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/bootstrap.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/Date.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body class="container">
		<div class="col-sm-2">
			<nav>
				<ul>
					<li><a href="#">Capacity planning</a></li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-10 panel panel-default" ng-controller="wkldTable">
			<ul class="pager">
				<li class="previous"><a ng-click="prevSlot();refresh()" href="#">&larr; Older</a></li>
				<li>
					<div class="btn-group">
						<button class="btn btn-primary" ng-class="{active:(slot_type=='year')}" ng-click="slot_type='year';refresh()">Year</button>
						<button class="btn btn-primary" ng-class="{active:(slot_type=='month')}" ng-click="slot_type='month';refresh()">Month</button>
						<button class="btn btn-primary" ng-class="{active:(slot_type=='week')}" ng-click="slot_type='week';refresh()">Week</button>
					</div>
				</li>
				<li class="next"><a ng-click="nextSlot();refresh()" href="#">Newer &rarr;</a></li>
			</ul>
			<!-- WORKLOAD TABLE BEGIN -->
			<table class="table table-bordered form-inline">
				<thead>
					<tr>
						<td>
							{{ current_name }}
						</td>
						<td colspan="{{ nb_slots }}" class="text-right">
							<label>Nb {{slot_type}}s:</label>
							<input type="number" class="form-control" style="width:4em;" ng-change="refresh()" ng-model="nb_slots">
							<label>Ressource:</label>
							<select class="form-control" ng-change="refresh()" ng-model="current_name">
								<option ng-repeat="resource in resources">{{ resource.name }}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<th ng-repeat="slot in getSlots()">{{ slot }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(name,slots) in task_rows">
						<th>{{ name }}</th>
						<td ng-repeat="slot_charges in slots">
							<label>Plan.</label>
							<input style="width:4em" class="form-control input-sm" ng-model="slot_charges.planned" type="number" min="0" max="{{getInputMax()}}"></input>
							<label>Cur.</label>
							<input style="width:4em" class="form-control input-sm" ng-model="slot_charges.current" type="number" min="0" max="{{getInputMax()}}"></input><br><br>
							<div class="progress">
								<div class="progress-bar" ng-class="getAchClass(slot_charges.current, slot_charges.planned)" role="progressbar" aria-valuenow="{{ getPercentage(slot_charges.current, slot_charges.planned) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ getPercentage(slot_charges.current, slot_charges.planned) }}%;">
									{{ getPercentage(slot_charges.current, slot_charges.planned) }}%
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<form ng-submit="addNewTask();refresh();">
								<input type="text" placeholder="Add new..." class="form-control" ng-model="new_task_name">
							</form>
							</td>
						<td colspan="{{ nb_slots }}"></td>
					</tr>
				</tbody>
			</table>
			<!-- WORKLOAD TABLE END -->
		</div>
	</body>
</html>